.single-product div.product {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.woocommerce-tabs.wc-tabs-wrapper {
    grid-column: 1/3;
}

.related.products {
    grid-column: 1/3;
}
.related.products ul {
    display:flex;
    justify-content: space-around;
}