*{
	margin:0;
	padding:0;
}

#masthead{
	background-color: white;
	height: 20vh;
}
#masthead nav{
	list-style: none;
}

#colophon{
	background-color: #F7DDD9;
	text-align: center;
	color:black;
	font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
	display: flex;
	padding:40px 0px;
}
#colophon div{
	color: black;
	flex: 1;
	font-size: 13px;
}
.site-info-01 a{
	color: black;
	font-size: 1.5em;
}
.site-info-02 a{
	color: black;
	font-size: 1.5em;
}
.site-info-03 a{
	color: black;
	font-size: 1.5em;
}
.site-info-04 a{
	font-size: 1.5;
	color: black;
}


li{
	list-style: none;
	float: left;
    color: #000;
    margin-top: 40px;
    font-size: 25px;
}
nav{
	width: 100vw;
	color: #000;
	float: right;
	text-justify: newspaper;
	background-color: #F7DDD9;
}
nav ul{
	height: auto;
}
nav ul li a{
	color: #000;
	line-height: 150px;
}
header img{
	float: left;
	width: 150px;
}
header{
	height: auto;
}

.menu .button, .menu a {
	padding: .5rem 8rem ;
}
a:focus, a:hover {
    color: 
    #cc2f6b;
}
.widget-title{
	display: none;
}

.widget ul{
	display: none;
}

.entry-footer{
	display: none;
}

.search-form{
	display: none;
}

.page-title{
	display: none;
}

.wp-image-32{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}