*{
	margin:0;
	padding:0;
}

#masthead{
	background-color: white;
	height: 20vh;
	display: flex;
	align-items: center;
}
#masthead nav{
	list-style: none;

}

#colophon{
	background-color: #F7DDD9;
	text-align: center;
	color:white;
	font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
	display: flex;
	padding:40px 0px;
}
#colophon div{
	flex: 1;
	font-size: 13px;
}


li{
	list-style: none;
	float: left;
    color: #000;
    margin-top: 40px;
    font-size: 25px;
}
nav{
	color: #000;
	float: left;
}
nav ul{
	height: auto;
}
nav ul li a{
	color: #000;
	line-height: 150px;
}

/* styling for header */
header img{
	float: left;
	width: 150px;
}
header{
	height: auto;
}

header form {
	display:flex;
}

input.search-field{
	height:100%;
}

.woocommerce-products-header__title{
	display: none;
}

.columns-3 .products{
	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 4vw;
	margin-top: 40px;

}
header{
	position: relative;
}
.woocommerce-result-count{
	margin-top: 40px;
}

.attachment-woocommerce_thumbnail{
	
}

main{
	padding:0 2vw;
}

.orderby{
	width: 160px;
	position: absolute;
	right: 2vw;
}

.product_cat-uncategorized{
	width: 100% !important;
}

.widget-area .search-form{
	
}


.onsale{
	display: none;
}









@media only screen and (max-width:900px){
	.columns-3 .products{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 4vw;
	
	}
}

@media only screen and (max-width:700px){
	.columns-3 .products{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 4vw;
	
	}
}

@media only screen and (max-width:520px){
	.columns-3 .products{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 4vw;
	
	}
}